@font-face {
  font-family: 'Road Rage';
  src: url('~@/assets/fonts/Road_Rage.otf');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Xirod';
  src: url('~@/assets/fonts/xirod.ttf');

  font-weight: normal;
  font-style: normal;
}
